
nav {
height: 300px;
text-align: center;
padding-top: 100px;
text-transform: uppercase;
background-image: url("image.webp");
background-repeat: no-repeat;
background-size: cover;
  

}

body {
margin: 0;
background-color: rgb(190, 196, 171);
}


h1 {
    text-align: center;
    font-style: italic;
    color: rgb(2, 45, 25);
    text-shadow: 2px 2px #9fa4a3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*.row {
    display: flex;
    justify-content: center;
  
    
}
.column {
  max-width: 400px;
  flex-direction: column;
  
  
  
}
  img {
    width: 400px;
    height: 300px;
 
    
}
*/

p {
    
     font-family: cursive;
      text-align: center; 
      
   
}
.img-grid{
    --gap:16px;
    --num-col: 4;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 2fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.img-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}